@font-face {
    font-family: 'bebas_neuelight';
    src: url('fonts/bebasneue-light-webfont.eot');
    src: url('fonts/bebasneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-light-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-light-webfont.woff') format('woff'),
         url('fonts/bebasneue-light-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue-bold-webfont.eot');
    src: url('fonts/bebasneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-bold-webfont.woff') format('woff'),
         url('fonts/bebasneue-bold-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #b1b1b1;
}

html {
    width: 100%;
    height: 100%;
    background-color: #b1b1b1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 10px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background: url(../img/background-main.jpg) no-repeat bottom center scroll; /*add url if picture used*/
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom-width: 0;
    font-family: 'bebas_neuelight', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 1.25px;
}

#logo
{
    width: 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border-radius: 100%!important;
    font-size: 40px;
    color: #3c3c3c;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.portfolio-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: no-repeat center center scroll; /*add url if picture used*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .portfolio-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    outline: 0;
    color: #000;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    border-top-width: 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(48,174,214,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.portfolio-modal .modal-dialog {
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.portfolio-modal .modal-dialog h2 {
    font-size: 3em;
    margin-top: 35px;
}

.portfolio-modal .modal-dialog img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .item-details {
    margin: 30px 0;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
.left.carousel-control {
    width: 5%;
    height: 96%;
}

.right.carousel-control {
    width: 5%;
    height: 96%;
}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
.left.carousel-control {
    width: 5%;
    height: 96%;
}

.right.carousel-control {
    width: 5%;
    height: 96%;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.left.carousel-control {
    width: 5%;
    height: 96%;
}

.right.carousel-control {
    width: 5%;
    height: 96%;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.left.carousel-control {
    width: 5%;
    height: 96%;
}

.right.carousel-control {
    width: 5%;
    height: 100%;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.left.carousel-control {
    width: 5%;
    height: 100%;
    max-height: 960px;
}

.right.carousel-control {
    width: 5%;
    height: 100%;
    max-height: 960px;
}
}

.serviceIntro {
    background-color: #c2c2c2;
    padding-bottom: 250px;
}

.serviceIntro .row {
    padding-bottom: 50px;
}

#serviceUp {
    position: relative;
    top: -150px;
    padding-bottom: 120px;
}

#servicesDownButton {
    position: relative;
    top: 175px;
}
@media only screen and (min-width: 1000px) {
#listitems {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 150px;
    padding-bottom: 100px;
}
}

#services {
    padding-top: 200px;
}

#aboutIntro {
    background-color: #e6e4e5;
}

.boxed {
    color: #fff;
    background-color: #000;
    margin-top: -60px;
    position:absolute;
    left: 0;
    right: 0;
}

.boxed h2 {
    position: relative;
    display: inline;
} 

.boxed h1 {
    position: relative;
    display: inline;
}

.boxedServices {
    color: #fff;
    background-color: #000;
    margin-top: -150px;
    position:absolute;
    left: 0;
    right: 0;
    text-align:center;
}

.boxedServices h1 {
    position: relative;
    display: inline;
}  

.boxedContact {
    color: #fff;
    background-color: #000;
    margin-top: 70px;
    position:absolute;
    left: 0;
    right: 0;
    text-align:center;
}

.boxedContact h1 {
    position: relative;
    display: inline;
} 

#about {
    padding-top: 170px;
    padding-bottom: 100px;
    color: #000;
}

#aboutUp {
    position: relative;
    bottom: 100px;
}

#portfolio {
    background-color: #d5d5d5;
    padding-top: 50px;
    padding-bottom: 100px;
    border-top-width: 0;
    border-bottom-width: 0;
}

#portfolioInner {
    padding-top: 150px;
}

#portfolioUp {
    position: relative;
    top: 200px;
}

#contact {
    background-color: #b1b1b1;
    border-bottom-width: 0;
    border-top-width: 0;
}

#contact .content-section {
    position: relative;
    bottom: 150px;
}

#contactUp {
    position: relative;
    top: 50px;
    z-index: 2;
}

/* Contact Form */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div {
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	left: 50%;
}

.feedback-input {
	opacity:0.9;
	color:#8a8a8a;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    background: #eef5f7;
    border: 1px solid #737172;
    border-bottom-color: #737172;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
    border-color: #000;
	color: #000;
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color:#8a8a8a;
	border:#8a8a8a solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #04936d;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #04936d;
}
	
.submit:hover {
	color: #04936d;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
}    
}

@media only screen and (max-width: 768px) {

#serviceUp {
    position: relative;
    left: 50px;
    top: -50px;
    padding-bottom: 120px;
    margin-top: -15%;
}

#services {
    margin-left: -100px;
}

#listitems {
    margin-top: -75px;
    margin-left: 135px;
    font-size: 1em;
    line-height: 15px;
}

#servicesDownButton {
    position: relative;
    left: 50px;
    top: 0;
    margin-top: -5%;
}

.boxedServices {
    color: #fff;
    background-color: #000;
    margin-top: -175px;
    position:absolute;
    left: 0;
    right: 0;
    text-align:center;
} 

#contactUp {
    position: relative;
    top: 25px;
}

.boxedContact {
    margin-top: 25px;
    position:absolute;
    left: 0;
    right: 0;
    text-align:center;
}

textarea {
	width: 100%;
	height: 100px;
	line-height: 150%;
}

#contact .content-section {
    position: relative;
    bottom: 150px;
}

#form-main{
	width:100%;
	float:left;
	padding-top:30px;
}

#form-div{
    margin-left: 25px;
    padding-top: 100px;
}    

/* Textbox size */
.feedback-input {
    font-weight:300;
	font-size: 12px;
	line-height: 16px;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
    padding: 13px 13px 13px 54px;
}

#button-blue{
	width: 100%;
	font-size: 16px;
	padding-top: 22px;
	padding-bottom: 22px;
    border-width: 2px;
}

.submit:hover .ease{
  width: 100%;
}

#contactSubmit {
    padding-top: -25px;
    margin-top: -25px;
    
}

/* Icons ---------------------------------- */
#name{
	background-size: 15px 15px;
	background-position: 15px 15px;
}

#name:focus{
	background-size: 15px 15px;
	background-position: 15px 15px;
}

#email{
	background-size: 15px 15px;
	background-position: 15px 15px;
}

#email:focus{
	background-size: 15px 15px;
	background-position: 15px 15px;
}

#comment{
	background-size: 15px 15px;
	background-position: 15px 15px;
}

}